In [1]:
from bootstrap import bs_means_diff, bs_stdofmean
from decadal_stats import collect_data, compare_periods
from itertools import compress
import numpy as np
import pandas as pd
import time
import os
import netCDF4 as nc
import datetime
%matplotlib notebook

In [2]:
#Path to RDA results
RDA_path_1 = "/Users/Siwen/Desktop/ferret/bin/meiyu_clean.nc"
RDA_path_2 = "/Users/Siwen/Desktop/ferret/bin/meiyu_2_clean.nc"

years = [[[1951,1979],[1980,2007]],[[1980,1993],[1994,2007]]]
year_tags = ['8007_5179','9407_8093']
periods = [[60,120],[121,160],[161,200],[201,273],[274,320],[1,365]]
period_tags = ['spring','pre-meiyu','meiyu','post-meiyu','fall','all']
latranges = [[0,99],[0,99],[0,99],[27,99],[0,99],[0,99]]
tau = 2

In [3]:
##set up results file as multi-index dataframe for later convenience
metrics = ['frequency','latitude','intensity']
stats = ['mean_p1','mean_p2','std_p1','std_p2','diff_p2p1','pval']
fuzzy_columns = ['first_name','last_name','address']

row_ix = pd.MultiIndex.from_product([metrics,stats],\
                                    names=['Metric','Stat'])
col_ix = pd.MultiIndex.from_product([period_tags,year_tags],\
                                    names=['Period','Years'])
results_df = pd.DataFrame(index=row_ix, columns = col_ix)

In [4]:
results_df

Period                 spring           pre-meiyu               meiyu  \
Years               8007_5179 9407_8093 8007_5179 9407_8093 8007_5179
Metric    Stat
frequency mean_p1         NaN       NaN       NaN       NaN       NaN
          mean_p2         NaN       NaN       NaN       NaN       NaN
          std_p1          NaN       NaN       NaN       NaN       NaN
          std_p2          NaN       NaN       NaN       NaN       NaN
          diff_p2p1       NaN       NaN       NaN       NaN       NaN
          pval            NaN       NaN       NaN       NaN       NaN
latitude  mean_p1         NaN       NaN       NaN       NaN       NaN
          mean_p2         NaN       NaN       NaN       NaN       NaN
          std_p1          NaN       NaN       NaN       NaN       NaN
          std_p2          NaN       NaN       NaN       NaN       NaN
          diff_p2p1       NaN       NaN       NaN       NaN       NaN
          pval            NaN       NaN       NaN       NaN       NaN
intensity mean_p1         NaN       NaN       NaN       NaN       NaN
          mean_p2         NaN       NaN       NaN       NaN       NaN
          std_p1          NaN       NaN       NaN       NaN       NaN
          std_p2          NaN       NaN       NaN       NaN       NaN
          diff_p2p1       NaN       NaN       NaN       NaN       NaN
          pval            NaN       NaN       NaN       NaN       NaN

Period                        post-meiyu                fall            \
Years               9407_8093  8007_5179 9407_8093 8007_5179 9407_8093
Metric    Stat
frequency mean_p1         NaN        NaN       NaN       NaN       NaN
          mean_p2         NaN        NaN       NaN       NaN       NaN
          std_p1          NaN        NaN       NaN       NaN       NaN
          std_p2          NaN        NaN       NaN       NaN       NaN
          diff_p2p1       NaN        NaN       NaN       NaN       NaN
          pval            NaN        NaN       NaN       NaN       NaN
latitude  mean_p1         NaN        NaN       NaN       NaN       NaN
          mean_p2         NaN        NaN       NaN       NaN       NaN
          std_p1          NaN        NaN       NaN       NaN       NaN
          std_p2          NaN        NaN       NaN       NaN       NaN
          diff_p2p1       NaN        NaN       NaN       NaN       NaN
          pval            NaN        NaN       NaN       NaN       NaN
intensity mean_p1         NaN        NaN       NaN       NaN       NaN
          mean_p2         NaN        NaN       NaN       NaN       NaN
          std_p1          NaN        NaN       NaN       NaN       NaN
          std_p2          NaN        NaN       NaN       NaN       NaN
          diff_p2p1       NaN        NaN       NaN       NaN       NaN
          pval            NaN        NaN       NaN       NaN       NaN

Period                    all
Years               8007_5179 9407_8093
Metric    Stat
frequency mean_p1         NaN       NaN
          mean_p2         NaN       NaN
          std_p1          NaN       NaN
          std_p2          NaN       NaN
          diff_p2p1       NaN       NaN
          pval            NaN       NaN
latitude  mean_p1         NaN       NaN
          mean_p2         NaN       NaN
          std_p1          NaN       NaN
          std_p2          NaN       NaN
          diff_p2p1       NaN       NaN
          pval            NaN       NaN
intensity mean_p1         NaN       NaN
          mean_p2         NaN       NaN
          std_p1          NaN       NaN
          std_p2          NaN       NaN
          diff_p2p1       NaN       NaN
          pval            NaN       NaN

In [5]:
for (yrs,yr_tag) in zip(years,year_tags):
    print(yr_tag)
    
    for period,latrange,p_tag in zip(periods,latranges,period_tags):
        print(p_tag)
        results_df[:][p_tag,yr_tag] = compare_periods(yrs,period,tau=2).unstack()

8007_5179
spring

/Users/Siwen/RDA/decadal_stats.py:51: RuntimeWarning: invalid value encountered in greater
  lat_1_pass = (lat_1 > latrange[0]) & (lat_1 < latrange[1])
/Users/Siwen/RDA/decadal_stats.py:51: RuntimeWarning: invalid value encountered in less
  lat_1_pass = (lat_1 > latrange[0]) & (lat_1 < latrange[1])
/Users/Siwen/RDA/decadal_stats.py:53: RuntimeWarning: invalid value encountered in greater
  lat_2_pass = (lat_2 > latrange[0]) & (lat_2 < latrange[1])
/Users/Siwen/RDA/decadal_stats.py:53: RuntimeWarning: invalid value encountered in less
  lat_2_pass = (lat_2 > latrange[0]) & (lat_2 < latrange[1])

pre-meiyu
meiyu
post-meiyu
fall
all
9407_8093
spring
pre-meiyu
meiyu
post-meiyu
fall
all

In [6]:
results_df

Period                  spring             pre-meiyu                  meiyu  \
Years                8007_5179  9407_8093  8007_5179   9407_8093  8007_5179
Metric    Stat
frequency mean_p1     0.465235   0.498829   0.591379    0.530357   0.668966
          mean_p2     0.477166   0.455504    0.53125    0.532143   0.644643
          std_p1     0.0167714  0.0241966  0.0204117   0.0298256    0.01954
          std_p2     0.0170918  0.0241007  0.0210875   0.0298189  0.0202254
          diff_p2p1  0.0119317 -0.0433255 -0.0601293  0.00178571 -0.0243227
          pval        0.690855   0.102287    0.02024    0.516886   0.193552
latitude  mean_p1      27.6092    27.1786    27.4985     27.4923    29.6035
          mean_p2      27.3312    27.4998    27.3556     27.2206    29.4254
          std_p1      0.100867   0.137214   0.132586    0.227141   0.157057
          std_p2      0.100068   0.143198   0.154209    0.210026   0.154459
          diff_p2p1  -0.277941   0.321221   -0.14285   -0.271715  -0.178086
          pval       0.0227977   0.945005   0.241276     0.19668   0.205879
intensity mean_p1      19.7509    20.5685     25.392     25.0903    28.1122
          mean_p2      20.5794    20.5913    25.7547     26.4108    28.4275
          std_p1      0.250295   0.384375   0.354868    0.515294   0.378743
          std_p2      0.287599   0.425687   0.397652    0.601009   0.388765
          diff_p2p1   0.828424  0.0227796   0.362703     1.32048   0.315293
          pval        0.984302   0.516348   0.756724    0.952405   0.714829

Period                            post-meiyu                  fall  \
Years                 9407_8093    8007_5179  9407_8093  8007_5179
Metric    Stat
frequency mean_p1      0.646429     0.421351   0.413894   0.260455
          mean_p2      0.642857     0.420744   0.427593   0.274316
          std_p1      0.0285706    0.0151769  0.0217882  0.0168119
          std_p2      0.0286351    0.0154425  0.0218855  0.0173935
          diff_p2p1 -0.00357143 -0.000607328  0.0136986  0.0138612
          pval         0.464823     0.488811   0.671326    0.71668
latitude  mean_p1       29.9735      30.1928    29.7861    29.0985
          mean_p2       28.8774      29.5878     29.396     29.332
          std_p1        0.21946     0.168509   0.230248   0.208553
          std_p2       0.214518     0.164343   0.228764   0.196724
          diff_p2p1    -1.09609    -0.605018  -0.390166   0.233537
          pval       0.00029997   0.00489951   0.111589   0.784422
intensity mean_p1       27.0932       25.459    25.8524    20.2594
          mean_p2       29.7618      25.6439    25.4423    21.0128
          std_p1        0.50701     0.348549   0.495789   0.463724
          std_p2        0.58523     0.345229   0.482455   0.510015
          diff_p2p1     2.66856     0.184915  -0.410096   0.753374
          pval           0.9997     0.647035   0.277372   0.853715

Period                                  all
Years                 9407_8093   8007_5179    9407_8093
Metric    Stat
frequency mean_p1      0.278116    0.386301     0.381018
          mean_p2      0.270517    0.381409       0.3818
          std_p1      0.0247029  0.00669284   0.00960763
          std_p2       0.024491  0.00679496   0.00961141
          diff_p2p1 -0.00759878 -0.00489237  0.000782779
          pval         0.413541    0.303991     0.522966
latitude  mean_p1       28.9692     28.7349      28.5675
          mean_p2       29.7127     28.4856      28.4039
          std_p1        0.25641   0.0650961      0.09196
          std_p2       0.293003   0.0637926    0.0904314
          diff_p2p1     0.74348   -0.249351    -0.163582
          pval         0.972503  0.00309969     0.106289
intensity mean_p1       20.3311     23.2812       23.307
          mean_p2        21.728     23.6445       23.981
          std_p1       0.691498    0.155693      0.21969
          std_p2       0.794565    0.163406     0.241994
          diff_p2p1     1.39691     0.36322     0.674041
          pval         0.908009    0.945305     0.980302

In [7]:
## save as Pandas dataframe, easily reloadable back to Pandas after
savefile='Data/decadal_stats_tau.hdf'
results_df.to_hdf(savefile,'decadal_stats')

/Users/Siwen/anaconda/lib/python3.6/site-packages/pandas/core/generic.py:1138: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->floating,key->block0_values] [items->[('spring', '8007_5179'), ('spring', '9407_8093'), ('pre-meiyu', '8007_5179'), ('pre-meiyu', '9407_8093'), ('meiyu', '8007_5179'), ('meiyu', '9407_8093'), ('post-meiyu', '8007_5179'), ('post-meiyu', '9407_8093'), ('fall', '8007_5179'), ('fall', '9407_8093'), ('all', '8007_5179'), ('all', '9407_8093')]]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)