In [34]:
from itertools import compress
import numpy as np
import time
import os
import netCDF4 as nc
import datetime
import matplotlib.pyplot as plt
%matplotlib notebook

In [35]:
#Path to RDA results
RDA_path_1 = "/Users/Siwen/Desktop/ferret/bin/meiyu_clean.nc"
RDA_path_2 = "/Users/Siwen/Desktop/ferret/bin/meiyu_2_clean.nc"

period = [1,200]
years = [1951,1953]

In [36]:
## dives into the netCDF file and spits out all of the data of particular attribu
def collect_data(years, period):
    
    RDA_1 = nc.Dataset(RDA_path_1, 'r') #all primary events
    RDA_2 = nc.Dataset(RDA_path_2, 'r') #all secondary events

    #load data from NetCDF files to notebook
    lat_1 = RDA_1.variables['lat_115'][:]
    lat_2 = RDA_2.variables['lat_115'][:]

    int_1 = RDA_1.variables['intensity'][:] 
    int_2 = RDA_2.variables['intensity'][:]
    
    #countit_1_all = 0
    #countit_2_all = 0
    
    #Assign a calendar date to each time point
    startday = datetime.datetime(1951,1,1)
    date_list = [datetime.timedelta(days=x) + startday for x in range(0, 20819)]
    
    #the .timetuple().tm_yday command turns a datetime object into a day of the year.
    filter_days = [(dd.timetuple().tm_yday >= period[0]) & (dd.timetuple().tm_yday <= period[1]) & (dd.year >= years[0]) & (dd.year <= years[1]) for dd in date_list]
    days = list(compress(range(20819),filter_days))
    
    #filter full list of latitudes and intensities to only include time period of interest.
    lat_1_out = lat_1[days]
    lat_2_out = lat_2[days]
    int_1_out = int_1[days]
    int_2_out = int_2[days]
    
    lats_out = np.append(lat_1_out, lat_2_out)
    ints_out = np.append(int_1_out, int_2_out)  
    lats_out = lats_out[~np.isnan(lats_out)]
    ints_out = ints_out[~np.isnan(ints_out)] 

    RDA_1.close()
    RDA_2.close()
    
    return [lats_out, ints_out]

In [37]:
collect_data([1961,1970],[181,200])

400
400
0
0

[array([ 38.27510386,  22.50965187,  24.01412259,  34.51625884,
         33.31354689,  31.08145036,  30.96518199,  36.98090893,
         37.27756187,  36.35844503,  23.25113394,  35.28637695,
         25.51342082,  26.8538963 ,  27.22544827,  29.68245108,
         31.3097629 ,  31.39247216,  31.15371652,  32.22021006,
         32.62234772,  32.95693695,  22.60438538,  22.92914581,
         36.38308334,  36.2218895 ,  38.7192344 ,  38.5423729 ,
         35.26363008,  35.12964143,  23.83323738,  34.79184341,
         36.39551446,  33.16873035,  35.50912189,  32.95449878,
         31.33788428,  31.96347683,  30.87684836,  37.93778407,
         36.62642543,  26.31850484,  32.95370776,  33.29954862,
         24.09934281,  37.66591486,  37.24087465,  37.85299483,
         35.76913204,  34.7835667 ,  38.7269372 ,  34.19805613,
         36.57774667,  35.46213234,  33.74460176,  33.17123682,
         32.6196831 ,  32.58381921,  29.91139154,  28.88400164,
         28.89632675,  30.62008354,  32.81876915,  34.19786147,
         34.23937702,  34.06567789,  33.25914057,  33.54638209,
         33.10278828,  22.91005177,  34.31842757,  36.06881849,
         27.85909311,  25.30335853,  22.78733136,  23.03459172,
         26.02978133,  32.13014279,  30.69453912,  28.35771287,
         27.44628664,  27.9560466 ,  28.65073921,  29.35691656,
         20.78071976,  35.32345542,  32.84066834,  32.78684149,
         29.47250927,  25.47789217,  23.59168354,  24.98668104,
         33.20402196,  35.32808075,  35.31418627,  39.45542608,
         39.7560599 ,  32.05754685,  32.75518821,  32.46949209,
         30.36324141,  21.75744981,  23.55361145,  26.63301712,
         25.89930963,  27.71704604,  27.00928501,  26.31740206,
         26.95866148,  32.07082119,  32.50085216,  32.38360491,
         32.05039786,  31.32736836,  31.66584251,  27.40738876,
         29.21986195,  30.69113699,  32.50338607,  30.9290251 ,
         29.46774486,  30.52474938,  31.13296647,  27.77219695,
         30.53371164,  31.54388851,  29.94566755,  30.06392526,
         30.37822173,  29.35342293,  22.72135619,  33.99779154,
         35.66867806,  27.50104661,  30.62070167,  27.57064241,
         27.50299842,  29.65536566,  28.92955685,  28.51466499,
         29.21205802,  31.76018627,  22.96070871,  39.58261179,
         35.95615183,  36.87734707,  25.07548048,  39.81209957,
         22.39083223,  33.71922655,  36.06450283,  38.59824409,
         23.30925786,  26.30889758,  29.5323538 ,  31.719874  ,
         35.18776907,  38.00301559,  38.66476963,  33.64209573,  37.90626409]),
 array([ 24.54335977,  40.64182437,  32.50990402,  21.56956981,
         26.39559267,  24.71810773,  16.37377123,  30.92433543,
         25.45249322,  26.6246374 ,  34.57121653,  17.77610128,
         26.71428847,  37.23059607,  24.74743408,  13.93064942,
         26.75243035,  33.14675852,  32.24516687,  23.12777503,
         45.05706564,  23.94682975,  13.28210244,  21.71252717,
         21.16563677,  15.55724046,  25.45065641,  13.40127478,
         21.92384191,  29.54278446,  34.29937084,  24.99172297,
         40.33084845,  31.59898611,  25.76633818,  30.10883486,
         32.06369107,  29.67082269,  32.54768519,  13.46370929,
         22.89852872,  24.88125581,  22.96716439,  29.81834823,
         60.6329671 ,  27.8606435 ,  16.74126   ,  23.75311666,
         16.46514966,  14.91248053,  36.24688558,  16.62391815,
         24.76167328,  28.09268074,  15.7572525 ,  31.78884028,
         19.68041207,  24.6954014 ,  22.1416979 ,  32.3659889 ,
         37.08256633,  29.14979283,  30.00261726,  53.40652383,
         25.12183893,  30.9245754 ,  29.9884982 ,  29.82924455,
         22.70937576,  38.55829909,  21.295248  ,  16.25303813,
         45.33188573,  36.63860863,  40.86632624,  37.55742289,
         18.24687487,  23.76661289,  43.23492456,  36.97715694,
         37.74938644,  27.82476529,  28.02223598,  22.31756812,
         33.37701482,  54.89145544,  17.16294008,  38.66161728,
         32.3517985 ,  18.17372098,  21.00383949,  19.2272378 ,
         30.72892893,  34.96062727,  24.93498083,  32.45013128,
         23.84122605,  41.99031629,  24.83395924,  28.45762801,
         28.51152415,  24.48546358,  32.98311755,  29.68743225,
         29.89157867,  19.55686026,  47.0558728 ,  35.97461483,
         27.64668926,  33.5255947 ,  39.72234886,  40.28282027,
         29.16390452,  20.52056729,  29.77400041,  34.31521307,
         33.61277053,  26.12224004,  37.8032006 ,  50.38018581,
         35.9683953 ,  15.25653011,  52.35434715,  21.83468608,
         66.70393656,  49.36034518,  18.36707811,  43.84545348,
         57.87432392,  38.39975655,  25.85021806,  19.31129102,
         26.38820629,  14.04574516,  30.4376129 ,  39.23027447,
         32.77828672,  60.60209303,  64.49625907,  30.05725755,
         22.81272479,  39.61071116,  25.51021555,  24.7359468 ,
         18.64813541,  14.83937997,  17.02622554,  20.5214742 ,
         12.87651501,  22.7022428 ,  11.86516536,  25.5489953 ,
         38.03982179,  26.99691381,   8.82802861,  19.18657946,
         16.01765424,  13.19574253,  19.30489088,  18.82865616,  17.44299328])]

In [6]:
startday = datetime.datetime(1951,1,1)
date_list = [datetime.timedelta(days=x) + startday for x in range(0, 20819)]
period = [1,200]
years = [1951,1953]

x = [(dd.timetuple().tm_yday >= period[0]) & (dd.timetuple().tm_yday <= period[1])&\
     (dd.year >= years[0]) & (dd.year <= years[1]) for dd in date_list]

y = list(range(20819))
z = list(compress(y,x))
print(z)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930]