In [1]:
from bootstrap import bs_means_diff, bs_stdofmean
from decadal_stats import collect_data, compare_periods
from itertools import compress
import numpy as np
import pandas as pd
import time
import os
import netCDF4 as nc
import datetime
%matplotlib notebook

In [2]:
#Path to RDA results
RDA_path_1 = "/Users/Siwen/Desktop/ferret/bin/meiyu_clean.nc"
RDA_path_2 = "/Users/Siwen/Desktop/ferret/bin/meiyu_2_clean.nc"

years = [[[1951,1979],[1980,2007]],[[1980,1993],[1994,2007]]]
year_tags = ['8007_5179','9407_8093']
periods = [[60,120],[121,160],[161,200],[201,273],[274,320],[1,365]]
period_tags = ['spring','pre-meiyu','meiyu','post-meiyu','fall','all']
latranges = [[0,99],[0,99],[0,99],[27,99],[0,99],[0,99]]
tau = 2

In [14]:
##set up results file as multi-index dataframe for later convenience
metrics = ['frequency','latitude','intensity']
stats = ['mean_p1','mean_p2','std_p1','std_p2','diff_p2p1','pval']
fuzzy_columns = ['first_name','last_name','address']

row_ix = pd.MultiIndex.from_product([metrics,stats],\
                                    names=['Metric','Stat'])
col_ix = pd.MultiIndex.from_product([period_tags,year_tags],\
                                    names=['Period','Years'])
results_df = pd.DataFrame(index=row_ix, columns = col_ix)

In [15]:
results_df

Period                 spring           pre-meiyu               meiyu  \
Years               8007_5179 9407_8093 8007_5179 9407_8093 8007_5179
Metric    Stat
frequency mean_p1         NaN       NaN       NaN       NaN       NaN
          mean_p2         NaN       NaN       NaN       NaN       NaN
          std_p1          NaN       NaN       NaN       NaN       NaN
          std_p2          NaN       NaN       NaN       NaN       NaN
          diff_p2p1       NaN       NaN       NaN       NaN       NaN
          pval            NaN       NaN       NaN       NaN       NaN
latitude  mean_p1         NaN       NaN       NaN       NaN       NaN
          mean_p2         NaN       NaN       NaN       NaN       NaN
          std_p1          NaN       NaN       NaN       NaN       NaN
          std_p2          NaN       NaN       NaN       NaN       NaN
          diff_p2p1       NaN       NaN       NaN       NaN       NaN
          pval            NaN       NaN       NaN       NaN       NaN
intensity mean_p1         NaN       NaN       NaN       NaN       NaN
          mean_p2         NaN       NaN       NaN       NaN       NaN
          std_p1          NaN       NaN       NaN       NaN       NaN
          std_p2          NaN       NaN       NaN       NaN       NaN
          diff_p2p1       NaN       NaN       NaN       NaN       NaN
          pval            NaN       NaN       NaN       NaN       NaN

Period                        post-meiyu                fall            \
Years               9407_8093  8007_5179 9407_8093 8007_5179 9407_8093
Metric    Stat
frequency mean_p1         NaN        NaN       NaN       NaN       NaN
          mean_p2         NaN        NaN       NaN       NaN       NaN
          std_p1          NaN        NaN       NaN       NaN       NaN
          std_p2          NaN        NaN       NaN       NaN       NaN
          diff_p2p1       NaN        NaN       NaN       NaN       NaN
          pval            NaN        NaN       NaN       NaN       NaN
latitude  mean_p1         NaN        NaN       NaN       NaN       NaN
          mean_p2         NaN        NaN       NaN       NaN       NaN
          std_p1          NaN        NaN       NaN       NaN       NaN
          std_p2          NaN        NaN       NaN       NaN       NaN
          diff_p2p1       NaN        NaN       NaN       NaN       NaN
          pval            NaN        NaN       NaN       NaN       NaN
intensity mean_p1         NaN        NaN       NaN       NaN       NaN
          mean_p2         NaN        NaN       NaN       NaN       NaN
          std_p1          NaN        NaN       NaN       NaN       NaN
          std_p2          NaN        NaN       NaN       NaN       NaN
          diff_p2p1       NaN        NaN       NaN       NaN       NaN
          pval            NaN        NaN       NaN       NaN       NaN

Period                    all
Years               8007_5179 9407_8093
Metric    Stat
frequency mean_p1         NaN       NaN
          mean_p2         NaN       NaN
          std_p1          NaN       NaN
          std_p2          NaN       NaN
          diff_p2p1       NaN       NaN
          pval            NaN       NaN
latitude  mean_p1         NaN       NaN
          mean_p2         NaN       NaN
          std_p1          NaN       NaN
          std_p2          NaN       NaN
          diff_p2p1       NaN       NaN
          pval            NaN       NaN
intensity mean_p1         NaN       NaN
          mean_p2         NaN       NaN
          std_p1          NaN       NaN
          std_p2          NaN       NaN
          diff_p2p1       NaN       NaN
          pval            NaN       NaN

In [17]:
for (yrs,yr_tag) in zip(years,year_tags):
    print(yr_tag)
    
    for period,latrange,p_tag in zip(periods,latranges,period_tags):
        print(p_tag)
        results_df[:][p_tag,yr_tag] = compare_periods(yrs,period).unstack()

8007_5179
spring

/Users/Siwen/RDA/decadal_stats.py:51: RuntimeWarning: invalid value encountered in greater
  lat_1_pass = (lat_1 > latrange[0]) & (lat_1 < latrange[1])
/Users/Siwen/RDA/decadal_stats.py:51: RuntimeWarning: invalid value encountered in less
  lat_1_pass = (lat_1 > latrange[0]) & (lat_1 < latrange[1])
/Users/Siwen/RDA/decadal_stats.py:53: RuntimeWarning: invalid value encountered in greater
  lat_2_pass = (lat_2 > latrange[0]) & (lat_2 < latrange[1])
/Users/Siwen/RDA/decadal_stats.py:53: RuntimeWarning: invalid value encountered in less
  lat_2_pass = (lat_2 > latrange[0]) & (lat_2 < latrange[1])

pre-meiyu
meiyu
post-meiyu
fall
all
9407_8093
spring
pre-meiyu
meiyu
post-meiyu
fall
all

In [18]:
results_df

Period                  spring              pre-meiyu                  meiyu  \
Years                8007_5179  9407_8093   8007_5179   9407_8093  8007_5179
Metric    Stat
frequency mean_p1     0.465235   0.498829    0.591379    0.530357   0.668966
          mean_p2     0.477166   0.455504     0.53125    0.532143   0.644643
          std_p1     0.0118592  0.0171096   0.0144333   0.0210899  0.0138169
          std_p2     0.0120857  0.0170418   0.0149111   0.0210852  0.0143015
          diff_p2p1  0.0119317 -0.0433255  -0.0601293  0.00178571 -0.0243227
          pval        0.759492  0.0363975  0.00188095    0.523874   0.110641
latitude  mean_p1      27.6092    27.1786     27.4985     27.4923    29.6035
          mean_p2      27.3312    27.4998     27.3556     27.2206    29.4254
          std_p1      0.099627   0.135945    0.130477     0.22572    0.15471
          std_p2     0.0982656   0.144839    0.153266    0.207118   0.155219
          diff_p2p1  -0.277941   0.321221    -0.14285   -0.271715  -0.178086
          pval       0.0216978   0.947005    0.239576    0.192881   0.209979
intensity mean_p1      19.7509    20.5685      25.392     25.0903    28.1122
          mean_p2      20.5794    20.5913     25.7547     26.4108    28.4275
          std_p1      0.249696   0.383744    0.353976    0.511482   0.376485
          std_p2      0.289359   0.431661    0.399915      0.5939   0.390851
          diff_p2p1   0.828424  0.0227796    0.362703     1.32048   0.315293
          pval        0.983802   0.519848    0.755924    0.951505   0.725827

Period                            post-meiyu                  fall  \
Years                 9407_8093    8007_5179  9407_8093  8007_5179
Metric    Stat
frequency mean_p1      0.646429     0.421351   0.413894   0.260455
          mean_p2      0.642857     0.420744   0.427593   0.274316
          std_p1      0.0202025    0.0107317  0.0154066  0.0118878
          std_p2      0.0202481    0.0109195  0.0154754   0.012299
          diff_p2p1 -0.00357143 -0.000607328  0.0136986  0.0138612
          pval         0.450316     0.484179   0.734773   0.791132
latitude  mean_p1       29.9735      30.1928    29.7861    29.0985
          mean_p2       28.8774      29.5878     29.396     29.332
          std_p1       0.214496     0.167562   0.230218   0.207363
          std_p2       0.215623     0.164067   0.231661    0.19523
          diff_p2p1    -1.09609    -0.605018  -0.390166   0.233537
          pval       0.00019998   0.00449955   0.114689    0.80052
intensity mean_p1       27.0932       25.459    25.8524    20.2594
          mean_p2       29.7618      25.6439    25.4423    21.0128
          std_p1       0.512708     0.348889   0.504657   0.467053
          std_p2       0.593839     0.347455   0.479215   0.523383
          diff_p2p1     2.66856     0.184915  -0.410096   0.753374
          pval           0.9998     0.639436   0.276672   0.856614

Period                                  all
Years                 9407_8093   8007_5179    9407_8093
Metric    Stat
frequency mean_p1      0.278116    0.386301     0.381018
          mean_p2      0.270517    0.381409       0.3818
          std_p1      0.0174676  0.00473255   0.00679362
          std_p2      0.0173178  0.00480476   0.00679629
          diff_p2p1 -0.00759878 -0.00489237  0.000782779
          pval         0.378688    0.234094     0.532461
latitude  mean_p1       28.9692     28.7349      28.5675
          mean_p2       29.7127     28.4856      28.4039
          std_p1       0.256093   0.0646961    0.0931848
          std_p2       0.292593   0.0636113    0.0906762
          diff_p2p1     0.74348   -0.249351    -0.163582
          pval         0.969003  0.00439956      0.10029
intensity mean_p1       20.3311     23.2812       23.307
          mean_p2        21.728     23.6445       23.981
          std_p1       0.690268       0.156     0.219984
          std_p2       0.784692    0.163464     0.238552
          diff_p2p1     1.39691     0.36322     0.674041
          pval         0.908909    0.945905     0.978802

In [20]:
## save as Pandas dataframe, easily reloadable back to Pandas after
savefile='Data/decadal_stats.hdf'
results_df.to_hdf(savefile,'decadal_stats')

/Users/Siwen/anaconda/lib/python3.6/site-packages/pandas/core/generic.py:1138: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->floating,key->block0_values] [items->[('spring', '8007_5179'), ('spring', '9407_8093'), ('pre-meiyu', '8007_5179'), ('pre-meiyu', '9407_8093'), ('meiyu', '8007_5179'), ('meiyu', '9407_8093'), ('post-meiyu', '8007_5179'), ('post-meiyu', '9407_8093'), ('fall', '8007_5179'), ('fall', '9407_8093'), ('all', '8007_5179'), ('all', '9407_8093')]]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)