In [6]:
#Updating previous MATLAB script to work in Python
#Given meiyu_clean.nc and meiyu_2_clean.nc, finds mean rainband frequency and intensity for different time periods
#and also their product f*q as a proxy for actual rainfall amounts.
#Idea is to help show a causality of rainfall amounts (frequency change, or intensity?)

#meiyu_clean.nc contains every rainband event categorized as primary, and meiyu_2_clean includes all secondary events.

import numpy as np
import time
import os
import netCDF4 as nc
import datetime

In [7]:
#Access NetCDF files (currently hosted in Ferret directory)
RDA_path_1 = "/Users/Siwen/Desktop/ferret/bin/meiyu_clean.nc"
RDA_path_2 = "/Users/Siwen/Desktop/ferret/bin/meiyu_2_clean.nc"
RDA_1 = nc.Dataset(RDA_path_1, 'r')
RDA_2 = nc.Dataset(RDA_path_2, 'r')

In [8]:
#load data from NetCDF files to notebook
lat_1_all =  RDA_1.variables['lat_115'][:]
lat_2_all =  RDA_2.variables['lat_115'][:]
intensity_1_all = RDA_1.variables['intensity'][:] 
intensity_2_all = RDA_2.variables['intensity'][:]

In [26]:
#Assign a calendar date to each time point
startday = datetime.datetime(1951,1,1)
date_list = np.array([datetime.timedelta(days=x) + startday for x in range(0, 20819)])

In [27]:
#Define empty variables reshaped with axis 0 as day of year and axis 1 as year.
lat_1 = np.zeros([365,57])
lat_2 = np.zeros([365,57])
intensity_1 = np.zeros([365,57])
intensity_2 = np.zeros([365,57])

In [25]:
tst = np.array(date_list)
type(tst)
tst[0]

datetime.datetime(1951, 1, 1, 0, 0)

In [30]:
mymap = map(lambda date: (date.day == 3) & (date.month == 1), date_list)
date_list[list(mymap)]

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: FutureWarning: in the future, boolean array-likes will be handled as a boolean array index
  from ipykernel import kernelapp as app

array([datetime.datetime(1951, 1, 1, 0, 0),
       datetime.datetime(1951, 1, 1, 0, 0),
       datetime.datetime(1951, 1, 2, 0, 0), ...,
       datetime.datetime(1951, 1, 1, 0, 0),
       datetime.datetime(1951, 1, 1, 0, 0),
       datetime.datetime(1951, 1, 1, 0, 0)], dtype=object)

In [22]:
type(list(mymap))

list

In [8]:
for i, date in enumerate(date_list[0:365]):
    dd = date.day
    mm = date.month
    lat_1[i,:] = 
    lat_2[i,:] = 
    intensity_1[i,:] = 
    intensity_2[i,:] =

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31

2016-10-14

In [9]:
tst[:100]

array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  1.,  1.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  1.,  1.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,
        0.,  0.,  0.,  0.,  1.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,
        1.,  1.,  1.,  1.,  1.,  0.,  1.,  1.,  1.,  1.,  0.,  1.,  1.,
        1.,  1.,  0.,  1.,  1.,  0.,  0.,  1.,  0.])

In [7]:
lat_1[:100]

array([         nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,  27.00996308,  24.21148993,  24.83078497,
        24.77758962,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
        24.56930006,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,  27.63225421,  26.36993152,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,  30.62293474,  28.7239144 ,          nan,
                nan,  25.88566972,          nan,          nan,
                nan,          nan,          nan,  26.67376309,
                nan,          nan,          nan,          nan,
                nan,  29.57976285,  28.23657569,  27.54563464,
                nan,          nan,          nan,          nan,
                nan,  25.31305558,  28.58740367,  25.54448522,
        23.55042515,  24.43613982,  26.2035846 ,          nan,
        26.82274242,  29.91995896,  25.82999165,  23.17291941,
                nan,  26.93377904,  25.88606003,  27.06533831,
        24.48205453,          nan,  25.47160812,  24.76920313,
                nan,          nan,  25.94689958,          nan])